@import '../../../assets/styles/fn';

// grid
//-----------------------------------------------------
.cmui-grid {
  &-hd {
    width: 100%;

    h2 {
      position: relative;
      padding: 12px;
      text-align: left;
      font-weight: normal;

      &:after {
        @include setBottomLine()
      }
    }
  }
  &-bd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  &-item {
    position: relative;
    box-sizing: border-box;
    padding: 20px 0;
    width: 50%;
    text-align: center;

    &:before {
      @include setLeftLine();
    }
    &:after {
      @include setBottomLine();
    }
    &:nth-child(odd):before {
      border-left: 0;
    }
  }
}
