@import '../../../assets/styles/fn';

// tab
//-----------------------------------------------------
.cmui-tab {
  position: relative;
  display: flex;
  height: 40px;
  background-color: $white;

  &:after {
    @include setBottomLine();
  }
  .cmui-tab-item {
    line-height: 20px;
    width: 50%;
    height: 20px;
    padding: 10px 0 8px;
    text-align: center;
    flex: 1;

    a {
      font-size: $baseFontSize;
      position: relative;
      display: block;
      color: $grayDark;
      &:after {
        @include setLeftLine();
      }
    }
    &:first-child {
      a:after {
        border-left: 0;
      }
    }
    &.current {
      border-bottom: 2px solid $brandColor;

      a {
        color: $brandColor;
      }
    }
  }
}
