@import '../../base/fn';

// tab组件
// 纵向tab列表，宽度自定义，列数不定
//-----------------------------------------------------
.cmui-tab-line {
    width: 100%;
    background-color: $baseBackgroundColor;

    .cmui-tab-item {
        padding: 10px 12px;
        border-left: 4px solid $baseBackgroundColor;
        text-align: left;
      
        a {
            font-size: $baseFontSize;
            color: $grayDarker;
        }
        &.current {
            background-color: $white;
            border-left-color: $brandColor;

            a {
                color: $brandColor;
            }
        }
    }
}