@import '../../base/fn';

// tab组件
// 纵向tab列表，宽度自定义，列数不定
//-----------------------------------------------------
.cmui-tab-vertical {
    width: 100%;

    .cmui-tab-item {
        position: relative;
        padding: $basePadding;
        height: 44px;
        line-height: 44px;
        text-align: left;

        a {
            font-size: $baseFontSize;
            color: $grayDarker;
        }
        &:before {
            @include setBottomLine();
        }
        &.current {
            &:after {
                position: absolute;
                top: 15px;
                right: 0;
                width: 0;
                content: '';
                border-top: 8px solid transparent;
                border-right: 10px solid #efeff4;
                border-bottom: 8px solid transparent;
            }
            a {
                color: $brandColor;
            }
        }
    }
}