.icon {
    display: inline-block;
    margin: 35px 0 15px;
    width: 50px;
    height: 50px;

    &-1 {
        background: url(../../../assets/img/icon01.png) no-repeat;
        background-size: 50px;
    }
    &-2 {
        background: url(../../../assets/img/icon02.png) no-repeat center;
        background-size: 47px;
    }
    &-3 {
        background: url(../../../assets/img/icon03.png) no-repeat center;
        background-size: 48px;
    }
    &-4 {
        background: url(../../../assets/img/icon04.png) no-repeat center;
        background-size: 48px;
    }
}
