//border
//-----------------------------------------------------
$baseBorder:                1px solid $baseLine !default;
$darkBorder:                1px solid $darkLine !default;
$heavyBorder:               1px solid $heavyLine !default;


// radius
//-----------------------------------------------------
$baseRadius:                4px !default;
$smallRadius:               3px !default;