// padding
//-----------------------------------------------------
$basePadding:               0 12px !default;


// 元素上下间距
//-----------------------------------------------------
$baseGap:                   20px !default;


// 行高默认值
//-----------------------------------------------------
$baseLineHeight:            1.5 !default;