// z-index
//-----------------------------------------------------
$dropdownZIndex:            1000 !default;
$fixedBarZIndex:            1010 !default;
$tooltipZIndex:             1020 !default;
$alertZIndex:               1030 !default;
$modalZIndex:               1100 !default;