// 常用图标
//-----------------------------------------------------
/* 暂无数据 */
.cmui-icon-data-empty:before {
  content: '\e62e'
}

/* 榜单 */
.cmui-icon-bangdan:before {
  content: '\e62d'
}

/* 倒三角 */
.cmui-icon-triangle-down:before {
  content: '\e7d7'
}

/* 完成 */
.cmui-icon-circle-success:before {
  content: '\e64c'
}

/* 未完成 */
.cmui-icon-circle-undone:before {
  content: '\e656'
}

/* 目标-大 */
.cmui-icon-target:before {
  content: '\e63b'
}

/* 问号 */
.cmui-icon-circle-question:before {
  content: '\e6c5'
}

/* 新数据 */
.cmui-icon-data:before {
  content: '\e62c'
}

/* 钟 */
.cmui-icon-time:before {
  content: '\e62b'
}

/* wxb明星店铺 */
.cmui-icon-store:before {
  content: '\e62a'
}

/* 图片 */
.cmui-icon-img:before {
  content: '\e629'
}

/* 直播 */
.cmui-icon-live:before {
  content: '\e628'
}

/* 感叹号 */
.cmui-icon-warning:before {
  content: '\e670'
}

/* 钩 */
.cmui-icon-check:before {
  content: '\e627'
}

/* 感叹号 */
.cmui-icon-circle-warning:before {
  content: '\e626'
}

/* 日历 */
.cmui-icon-calendar:before {
  content: '\e625'
}

/* 删除 */
.cmui-icon-delete:before {
  content: '\e624'
}

/* 删除 */
.cmui-icon-circle-minus:before {
  content: '\e623'
}

/* 删除 */
.cmui-icon-circle-close:before {
  content: '\e622'
}

/* 电话 */
.cmui-icon-phone:before {
  content: '\e621'
}

/* 附件 */
.cmui-icon-attachment:before {
  content: '\e620'
}

/* 发布 */
.cmui-icon-publish:before {
  content: '\e61f'
}

/* 上升icon */
.cmui-icon-up:before {
  content: '\e61e'
}

/* 排名标签 */
.cmui-icon-tag:before {
  content: '\e61d'
}

/* question */
.cmui-icon-plaint-question:before {
  content: '\e61c'
}

/* loading */
.cmui-icon-loading:before {
  content: '\e61b'
}

/* 系统消息 */
.cmui-icon-system-message:before {
  content: '\e61a'
}

/* 公告 */
.cmui-icon-notice:before {
  content: '\e619'
}

/* refresh */
.cmui-icon-refresh:before {
  content: '\e618'
}

/* back */
.cmui-icon-arrow-left:before {
  content: '\e613'
}

/* 客户列表 */
.cmui-icon-customer:before {
  content: '\e609'
}

/* 新增 */
.cmui-icon-circle-plus:before {
  content: '\e610'
}

/* 学习 */
.cmui-icon-study:before {
  content: '\e60e'
}

/* 常见问题 */
.cmui-icon-usual-question:before {
  content: '\e60a'
}

/* 主页 */
.cmui-icon-home:before {
  content: '\e617'
}

/* 雷达 */
.cmui-icon-radar:before {
  content: '\e616'
}

/* vip */
.cmui-icon-vip:before {
  content: '\e615'
}

/* 时间 */
.cmui-icon-time2:before {
  content: '\e614'
}

/* 检查信息 */
.cmui-icon-info:before {
  content: '\e612'
}

/* 新闻 */
.cmui-icon-news:before {
  content: '\e611'
}

/* 目标计划 */
.cmui-icon-plan:before {
  content: '\e60f'
}

/* 消息 */
.cmui-icon-message:before {
  content: '\e60d'
}

/* 语音 */
.cmui-icon-voice:before {
  content: '\e60c'
}

/* 数据，统计，信号 */
.cmui-icon-count-data:before {
  content: '\e60b'
}

/* map */
.cmui-icon-map:before {
  content: '\e608'
}

/* search */
.cmui-icon-search:before {
  content: '\e607'
}

/* atm */
.cmui-icon-atm:before {
  content: '\e606'
}

/* account */
.cmui-icon-account:before {
  content: '\e605'
}

/* success */
.cmui-icon-success:before {
  content: '\e604'
}

/* more */
.cmui-icon-arrow-right:before {
  content: '\e603'
}

/* more_unfold */
.cmui-icon-arrow-down:before {
  content: '\e602'
}

/* edit */
.cmui-icon-edit:before {
  content: '\e601'
}

/* iconfont-zengjia */
.cmui-icon-add-account:before {
  content: '\e600'
}
