@import '../../../assets/styles/fn';

.footer {
    padding: 50px 0;
    background-color: #204164;
    text-align: left;
    color: #bccad9;

    h2 {
        padding-bottom: 20px;
        border-bottom: 1px solid #001e3d;
        font-size: 18px;
        color: #fff;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
    }
    .information {
        position: relative;
        padding-top: 20px;
        border-top: 1px solid #34608e;

        a {
            text-decoration: none;
            color: #bccad9;
        }
    }
    .contact {
        position: absolute;
        top: 20px;
        right: 0;
        text-align: center;
        @include clearfix();

        li {
            float: left;
            padding: 0 10px;
        }
    }
}
