@import '../../assets/styles/fn';

.module-list {
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 10px;
  background-color: #fff;

  &:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    width: 0;
    border-left: 1px solid #5ac3b4;
  }
  .module-title {
    margin: 0;
    width: 57px;
    height: 23px;
    background: url('../../assets/img/risk/icon-rectangle.png') no-repeat left center;
    background-size: 57px 23px;
    font-size: 12px;
    color: #fff;
    text-align: center;
  }
  .module-item {
    padding: 10px 0 0 30px;

    &-hd {
      position: relative;
      margin: 0;
      font-size: 14px;
      color: #5ac3b4;
      font-weight: normal;

      &:after {
        content: '';
        position: absolute;
        left: -21px;
        top: 4px;
        width: 7px;
        height: 12px;
        background: url('../../assets/img/risk/icon-arrow.png') no-repeat;
        background-size: 7px 12px;
      }
    }
    .module-sitem {
      padding: 10px 0;
      border-bottom: 1px solid #e2e2e2;
      font-size: 12px;
      color: #666;

      &:last-child {
        padding-bottom: 0;
        border-bottom: 0;
      }
      .module-sitem-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
        font-size: 14px;
        color: #333;

        .module-sitem-status {
          padding: 0 3px;
          border: 1px solid red;
          border-radius: 3px;
          font-size: 12px;
          color: red;
        }
      }
      p {
        margin: 0;
      }
    }
  }
}
